<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDy1VrRdCRkLLWX9bLqRBlUOoN5b22eSXw</string>
	<key>GCM_SENDER_ID</key>
	<string>132009819939</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tecJetMachine.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>tjet-machine-test</string>
	<key>STORAGE_BUCKET</key>
	<string>tjet-machine-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:132009819939:ios:f2ea4aa1b6baa807691696</string>
</dict>
</plist>